article ._image img{
    max-height: 85vh;
    height: 80vw;
    width: 100%;
    object-fit: cover;
}
article .gradient{
    height: 300px;
    margin-top:-300px;
    position: relative;
    background: linear-gradient(transparent, var(--dark));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:var(--dark_invert);
    padding-bottom: 30px;
}